<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServidorBDOmnitec" value="DESKTOP-ND9L1BV"/>
		<add key="BDOmnitec" value="omnitec"/>
		<add key="UsuarioBDOmnitec" value="omnitec"/>
		<add key="PasswordBDOmnitec" value="omnitecapp"/>
		<add key="CadenaBDOmnitec" value="Data Source=DESKTOP-ND9L1BV;database=omnitec;User ID=omnitec; Password=omnitecapp; Connect Timeout=30;"/>
		<add key="ServidorBDPulse" value=""/>
		<add key="BDPulse" value=""/>
		<add key="UsuarioBDPulse" value=""/>
		<add key="PasswordBDPulse" value=""/>
		<add key="CadenaBDPulse" value=""/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
